* {
  padding: 0;
  margin: 5px;
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.modalContainer {
  width: 500px;
  height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  max-height: 20%;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  font-size: 1rem;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  max-height: 80%;
}

.modalContainer > .body > img {
  height: 40%;
  object-fit: cover;
}

.modalContainer > .body > p {
  font-size: 1rem;
}
